{% load bootstrap3 %}
{% load wagtailcore_tags %}
{% load wagtailpress_tags %}

<!DOCTYPE html>
<html lang="en">
  
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}(no title){% endblock %}</title>

  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
  
<body role="document" style="padding-top: 70px;">
  {% block menu %}
      {% get_site_root as site_root %}
      {% nav_menu parent=site_root calling_page=self %}
  {% endblock menu %}
  
{#    <a href="{% url 'home' %}">home</a> #}

  <div class="container theme-showcase" role="main">
    {% bootstrap_messages %}

    {% block content %}
        (no content)
    {% endblock content %}
  </div>
</body>
</html>
